#menu > ul > li {
    list-style: none;
    display: inline-block;
}

#header {
    background-color:rgb(240, 178, 98) ;
}

section {
    background-color:rgb(96, 184, 96);
    text-align: center;
}

footer {
    background-color:silver;
    text-align: center;
}